# Ignore node_modules folders at any level
**/__pycache__

# Standard Docker ignores
.git
.gitignore
.dockerignore
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode/

# Environment files (should be managed via Docker env variables or secrets)
# .env
# .env.*
